@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Play:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.calculator {
  background-color: black;
  width: 350px;
  height: 400px;
  padding: 5px;
  display: grid;
  grid-gap: 2px;
  border-radius: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.display {
  grid-column: span 4;
  text-align: right;
}

.output {
  height: 2rem;
  font-size: 2rem;
  color: orange;
}

.key {
  border: none;
  font-family: Play, sans-serif;
  font-size: 1.75rem;
  color: white;
  display: grid;
  place-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.key:hover {
  border: 1px solid white;
  color: black;
}

.key:active {
  background-color: orangered;
  color: black;
  border: 1px solid orangered;
}

.clear,
.zero {
  grid-column: span 2;
}

.equals {
  grid-row: span 2;
}

.clear {
  background-color: #ff6347;
}

.equals {
  background-color: #009cb8;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.zero,
.decimal {
  background-color: #696969;
}

.add,
.divide,
.multiply,
.subtract {
  background-color: #a9a9a9;
}
